.table-responsive {
  border: none;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.modal {
  background: rgba(99, 99, 99, 0.5);
}

.input-group {
  max-width: 50%;
  padding: 10px 0;
}

.form-select {
  max-width: 150px;
}
.input-group select{
  border-radius: 6px !important;
}
.form-control{
  border-radius: 6px !important;
}

.table-light {
  text-align: center;
}

.table-light-title {
  color: white;
  background-color: #2D9CDB;
  font-size: 16px !important;
}
.input-group button{
  border-radius: 6px !important;
  background-color: #0959A0;
  color: white;
  border: none;
  min-width: 100px;
}
.input-group button:hover{
  background-color: #073965;
}


.table th,
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  align-content: center;
  padding: 5px 5px
}
