<div class="landing-page">
   <!-- start header -->
   <header class="header">
    <div class="header_container">
        <div class="header_logo">
            <img class="header_logo-img" src="/logo.png" alt="Logo" height="40">
        </div>
        <!-- <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="header_menu-icon">
            <span class="header_menu-icon-line"></span>
        </label> -->
        <nav class="header_nav">
            <ul class="header_nav-list">
              <li><a href="#">Lợi ích</a></li>
              <li><a href="#">Tính năng</a></li>
              <li><a href="#">Khách hàng</a></li>
              <li><a href="#">Sản phẩm cho taxi</a></li>
              <li><a href="#">Tư vấn</a></li>
            </ul>
        </nav>
        <div class="header_contact">
            <img src="call.svg" alt="Icon" class="header_contact-icon">
            <span>1900 6415</span>
        </div>

    </div>
</header>
<!-- end header -->
  
  <main>
    <section class="section-1">
      <h2>GIẢI PHÁP ĐIỀU HÀNH TAXI CÔNG NGHỆ</h2>
      <p><strong>STAXI</strong> là giải pháp quản trị vận tải xe taxi thông minh trong cuộc cách mạng công nghiệp 4.0, giúp tối ưu hóa
        quản lý taxi từ xa, giảm chi phí, tăng doanh thu, cải tiến quy trình làm việc, nâng cao trải nghiệm khách hàng
        và đảm bảo an toàn giao thông.</p>
    </section>
    <section class="section-2">
      <iframe class="section-2_video" width="850" height="478" src="https://www.youtube.com/embed/eLMO8TY2MrE?autoplay=1&mute=1&loop=1" title="[STAXI] GIẢI PHÁP QUẢN TRỊ VẬN TẢI XE TAXI THÔNG MINH STAXI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    <section class="section-3">
      <h3>VÌ SAO LỰA CHỌN STAXI?</h3>
      <p>Hơn cả một giải pháp,<strong>STAXI</strong>  sẽ cải tiến công nghệ, giải quyết các bài toán về vận hành, nâng cao trải nghiệm khách hàng, tăng trưởng doanh thu bền vững và góp phần bảo vệ lợi ích lâu dài cho doanh nghiệp.</p>
    </section>
  </main>
</div>